.root {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #61bb71;
	padding: 0 0 0 4rem;
	position: relative;
	grid-area: banner;
}

.heading {
	color: #fff;
	font-family: "Gilroy";
	font-weight: normal;
	font-size: 1.5rem;
}

.image {
	width: auto;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

@media(min-width: 740px) {
	.heading {
		font-size: 1.8rem;
	}

	.image {
		right: 3rem;
	}
}

@media(min-width: 1000px) {
	.root {
		padding: 0 10rem;
	}

	.heading {
		font-size: 2.3rem;
	}
}