@tailwind base;
@tailwind components;

html,
body {
  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy Light";
  src: local("Gilroy Light"),
    url("/fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy Regular";
  src: local("Gilroy Regular"),
    url("/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy Bold";
  src: local("Gilroy Bold"),
    url("/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy Heavy";
  src: local("Gilroy Heavy"),
    url("/fonts/gilroy/Gilroy-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy Medium";
  src: local("Gilroy Medium"),
    url("/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
}

@tailwind utilities;
