.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "hero"
    "projects"
    "community"
    "developers"
    "tokens"
    "more-transactions"
    "get-involved";
}

@media (min-width: 740px) {
  .root {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "hero hero"
      "projects projects"
      "community community"
      "developers developers"
      "tokens tokens"
      "more-transactions more-transactions"
      "get-involved get-involved";
  }
}

@media (min-width: 1050px) {
  .root {
    grid-template-areas:
      "hero hero"
      "projects projects"
      "community developers"
      "tokens more-transactions"
      "get-involved get-involved";
  }
}
